<ion-header>
  <ion-toolbar>
    <ion-title>
      Who's working
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="barberShopCards">
  <ion-card-header>
    <ion-card-title>Todd Stroud</ion-card-title>
    <ion-card-subtitle>Owner</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Owner of Midway barbershop. XX years of experience
  </ion-card-content>
</ion-card>

<ion-card class="barberShopCards">
  <ion-card-header>
    <ion-card-title>Johnann Stroud</ion-card-title>
    <ion-card-subtitle>Owner</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Owner of Midway Barbershop. XX years of experience.
  </ion-card-content>
</ion-card>

<ion-card class="barberShopCards">
  <ion-card-header>
    <ion-card-title>Demi Stroud Burger</ion-card-title>
    <ion-card-subtitle>Cosmetologist</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Barber and Hair stylist. XX years of experience.
  </ion-card-content>
</ion-card>

<ion-card class="barberShopCards">
  <ion-card-header>
    <ion-card-title>Olivia Keith</ion-card-title>
    <ion-card-subtitle>Cosmetologist</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Barber and Hair stylist. XX years of experience.
  </ion-card-content>
</ion-card>

<ion-card class="barberShopCards">
  <ion-card-header>
    <ion-card-title>Jessi Stroud</ion-card-title>
    <ion-card-subtitle>Cosmetologist</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Barber and Hair stylist. XX years of experience.
  </ion-card-content>
</ion-card>